@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    url("./../Other/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    url("./../Other/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: #8d8d8d;
  padding: 10px 20px;
}

.header img {
  width: 40px;
  border-radius: 5px;
}

.loginWrapper {
  max-width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loggedUserWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLogoWrapper {
  transition: 0.3s all;
  position: relative;
  margin-left: 10px;
}

.loginLogoWrapperOverflow {
  overflow: hidden;
  transition: 0.3s all;
  border-radius: 50%;
  margin-right: 10px;
}

.loginLogo {
  color: #ffffff;
  width: 205px;
  margin-right: 10px;
  transform: scale(1.2);
  max-width: 25px;
  max-height: 25px;
}

.loginName {
  margin-right: 10px;
  font-size: 22px;
  color: white;
  font-weight: 300;
  transition: 0.3s all;
  transform: translateY(-2px);
}

.loggedUserLink {
  text-decoration: none;
  transition: 0.3s all;
}

.loggedUserLink:hover .loginLogoWrapperOverflow {
  transform: scale(1.1);
}

.loggedUserLink:hover .loginName {
  color: #ffffff;
  font-weight: 600;
}

.loggedUserLink:hover .logoutButton {
  display: block;
}

.headerSocialTitleWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100px;
  margin-left: 10px;
}

.headerSocialName {
  font-family: "Raleway";
  font-weight: 700;
  display: block;
  font-size: 18px;
  color: white;
  text-decoration: none;
  width: 100%;
}

.headerSocialSubname {
  font-family: "Raleway";
  font-weight: 300;
  display: block;
  font-size: 12px;
  color: white;
  text-decoration: none;
  width: 100%;
}

.navLinkHeaderLogoWrapper {
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1001;
    padding: 10px;
  }

  .logoutButton {
    display: block;
  }

  .loginButton {
    margin-right: 10px;
  }

  .loggedUserLink {
    margin-right: 10px;
  }
}
